.main-schedule{
  background: url("../../assets/images/img-home.jpg") center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  /* object-fit: contain; */

}

.table-schedule{
  width: 80%;
  align-self: center;
  min-width: 700px;

}

.table-heading{
    color: white;
    position: relative;
    text-align: center;
    margin:20px;
}