.text {
  font-size: larger;
}
.head {
  text-align: center;
  line-height: 5;
}
.sponsor-card-image {
  max-height: 100px;
  width: auto;
}

.sponsor-card-image-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 120px;
}

.golden-sponsor-card > .sponsor-card-image-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 80px;
}

.sponsor-card {
  margin: 10px;
  /* padding: 10px; */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #ccc;
  align-items: center;
}

.golden-sponsor-card {
  border: 1px solid #FFD700;
  box-shadow: 5px 5px 5px #FFD700;
}

.golden-sponsor-card > .sponsor-card-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #375CD4;
  font-weight: bolder;
  color: #FFD700;
  width: 100%;
  text-align: center;
}

.sponsor-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}