.ar-form-row {
    margin: 5px
}

.ar-form-card {
    margin: 5px
}

.ar-form-card-header-title {
    text-align: center;
    justify-content: center;
}

.ar-form-card-body {
    padding: 2px
}

.ar-form-submit-button {
    margin: 10px 5px 20px 5px;
}

.ar-tr-info-red {
    color: red;
}